* {
    margin: 0;
    padding: 0;
}

body {
    background-color:#5d9634;
}

.terrain {
    border: 0.1875rem solid rgba(255, 255, 255, 0.3);
    /* border: 2px solid #ffff; */
    margin-top: 2%;
    margin-left: 5%;
    height: 90%;
    width: 90%;
    position: absolute;

}

.surf-left {
    border: 0.1875rem solid rgba(255, 255, 255, 0.3);
    margin-top: 9%;
    margin-left: -0.3%;
    height: 60%;
    width: 15%;
    position: absolute;
}

.surf-right {
    border: 0.1875rem solid rgba(255, 255, 255, 0.3);
    margin-top: 9%;
    margin-left: 84.7%;
    height: 60%;
    width: 15%;
    position: absolute;
}

.goal-right {
    border: 0.1875rem solid rgba(255, 255, 255, 0.3);
    margin-top: 40%;
    margin-left: 57.6%;
    height: 55%;
    width: 40%;
    position: absolute;
}

.goal-left {
    border: 0.1875rem solid rgba(255, 255, 255, 0.3);
    margin-top: 40%;
    margin-left: -0.2%;
    height: 55%;
    width: 40%;
    position: absolute;
}

.mid-line {
    border: 0.1075rem solid rgba(255, 255, 255, 0.3);
    margin-top: 0%;
    margin-left: 50%;
    height: 100%;
    width: 0%;
    position: absolute;
}

.circle {
    width:  10%;
    height: 20%;
    margin-top: 18.5%;
    margin-left: 45.1%;
    border-radius: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.mid-circle1 {
    width: 75px;
    height: 150px;
    background-color: rgb(255, 255, 255, 0.1);
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-left: 0;
    margin-left: 15%;
    position: relative;
    margin-top: -10%;
}

.mid-circle2 {
    width: 75px;
    height: 150px;
    background-color: rgb(255, 255, 255, 0.1);
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    border-right: 0;
    margin-left: 78.9%;
    position: relative;
    margin-top: -12%;
}

.penalty1 {
    width:  5%;
    height: 2.5%;
    margin-top: 90%;
    margin-left: 70%;
    border-radius: 100%;
    background: #ffff;

}

.penalty2 {
    width:  5%;
    height: 2.5%;
    margin-top: 90%;
    margin-left: 30%;
    border-radius: 100%;
    background: #ffff;

}

.mid-ball {
    height: 5%;
    width: 2.5%;
    top: 47.5%;
    left: 48.75%;
    border-radius: 100%;
    position: absolute;
    background: url(img/ball.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* margin-top: -8%;
    margin-left: 48.7%; */
    animation: heyjump .5s ;
}

@keyframes heyjump {
    0%{transform: translateY(0px);}
    50%{transform: translateY(-100px);}
    0%{transform: translateY(0px);}
}


@media only screen and (max-width: 1000px) {
    .surf-left {
        margin-top: 12%;
        margin-left: -0.3%;
        height: 60%;
        width: 15%;
        position: absolute;
    }

    .surf-right {
        border: 0.1875rem solid rgba(255, 255, 255, 0.3);
        margin-top: 12%;
        margin-left: 84.7%;
        height: 60%;
        width: 15%;
        position: absolute;
    }

    .goal-right {
        border: 0.1875rem solid rgba(255, 255, 255, 0.3);
        margin-top: 50%;
        margin-left: 57.6%;
        height: 55%;
        width: 40%;
        position: absolute;
    }
    
    .goal-left {
        border: 0.1875rem solid rgba(255, 255, 255, 0.3);
        margin-top: 50%;
        margin-left: -0.2%;
        height: 55%;
        width: 40%;
        position: absolute;
    }

    .circle {
        width:  10%;
        height: 20%;
        margin-top: 23%;
        margin-left: 45.1%;
        border-radius: 100%;
        background: rgba(255, 255, 255, 0.1);
    }

    .mid-circle1 {
        width: 75px;
        height: 150px;
        background-color: rgb(255, 255, 255, 0.1);
        border-bottom-right-radius: 100px;
        border-top-right-radius: 100px;
        border-left: 0;
        margin-left: 15%;
        position: relative;
        margin-top: -13%;
    }
    
    .mid-circle2 {
        width: 75px;
        height: 150px;
        background-color: rgb(255, 255, 255, 0.1);
        border-bottom-left-radius: 100px;
        border-top-left-radius: 100px;
        border-right: 0;
        margin-left: 76.5%;
        position: relative;
        margin-top: -17%;
    }

    .penalty1 {
        width:  5%;
        height: 2.5%;
        margin-top: 100%;
        margin-left: 70%;
        border-radius: 100%;
        background: #ffff;
    
    }
    
    .penalty2 {
        width:  5%;
        height: 2.5%;
        margin-top: 100%;
        margin-left: 30%;
        border-radius: 100%;
        background: #ffff;
    
    }
    


}

